<ion-header no-border>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/servicio-clientes"></ion-back-button>
  </ion-buttons>
  <ion-toolbar color="primary">
  </ion-toolbar>
  <!-- <ion-row>
    <ion-col size="12">
      <img src="../../../assets/LogoH.png" alt="" style="width: 25%; margin: 0px 10%;">
      <ion-button (click)="onClick()" class="ion-margin" fill="clear">
        Inicio &nbsp;&nbsp; <hr style="background-color: black; height: 20px; width: 2px;">
      </ion-button>
      <ion-button (click)="onClick()" class="ion-margin" fill="clear">
        Comunicados &nbsp;&nbsp;<hr style="background-color: black; height: 250px; width: 2px;">
      </ion-button>
      <ion-button (click)="onClick()" class="ion-margin" fill="clear">
        Pizarrón de avisos &nbsp;&nbsp;<hr style="background-color: blue; height: 50px; width: 2px;">
      </ion-button>
      <ion-label style="color: red;">{{hoy}}</ion-label>
    </ion-col>
  </ion-row> -->
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col  size="12" sizeMd="6" sizeLg="6">
        <ion-img src="assets/LogoH.png" style="width: 50%;"></ion-img>
      </ion-col>
      <ion-col  size="12" sizeMd="6" sizeLg="6"><br><br><br>
        <ion-button  fill="clear">
          Inicio
        </ion-button>
        <ion-button  fill="clear">
          Comunicados
        </ion-button>
        <ion-button  fill="clear">
          Pizarrón de avisos
        </ion-button>
        <ion-label style="color: red;">{{hoy}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header color="light">
      <ion-button (click)="onClick()" fill="clear">
        Consulta General 
      </ion-button>
      <ion-button (click)="onClick()" fill="clear">
        Servicio a Clientes
      </ion-button>
      <ion-button (click)="onClick()" fill="clear">
        Salir
      </ion-button>
    </ion-card-header><br>
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-button (click)="onClick()">
          <ion-icon name="arrow-dropright"></ion-icon>
          Inicio
        </ion-button>
        <ion-button (click)="onClick()">
          <ion-icon name="arrow-dropright"></ion-icon>
          Selecciona un cliente
        </ion-button>
        <ion-button (click)="onClick()">
          <ion-icon name="arrow-dropright"></ion-icon>
          Programas de clientes interactivos
        </ion-button>
      </ion-buttons><br><br>
      <div class="ion-text-center">
        <ion-label>Fecha de embarque</ion-label>
        <ion-datetime display-format="DD.MM.YYYY " placeholder="DD.MM.YYYY "></ion-datetime>
          <ion-label>Punto de entrega: </ion-label>
          <ion-label placeholder="Click para seleccionar">{{framework3}}</ion-label>
          <ion-button (click)="picker3()"  fill="clear"><ion-icon name="arrow-dropdown"></ion-icon></ion-button><br>
          <ion-label>Distribucion: </ion-label>
          <ion-label placeholder="Click para seleccionar">{{framework4}}</ion-label>
          <ion-button (click)="picker4()"  fill="clear"><ion-icon name="arrow-dropdown"></ion-icon></ion-button><br>
          <ion-label>Centro de entrega: </ion-label>
          <ion-label placeholder="Click para seleccionar">{{framework}}</ion-label>
          <ion-button (click)="picker()"  fill="clear"><ion-icon name="arrow-dropdown"></ion-icon></ion-button><br>
          <ion-label>Medio de transporte: </ion-label>
          <ion-label placeholder="Click para seleccionar">{{framework2}}</ion-label>
          <ion-button (click)="picker2()"  fill="clear"><ion-icon name="arrow-dropdown"></ion-icon></ion-button><br>
          <a href="" style="color: black;"><u>Como utilizar el programa de entrega interactivo</u></a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>