<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Servicio a Clientes</ion-title>
    <ion-buttons slot="end">
    <ion-label>{{hoy}}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="secondary">
      <ion-label>Criterios de Busqueda</ion-label>
    </ion-item>
    <ion-card-content>
      <form  #servicio>
        <ion-item>
          <ion-label position="floating">Numero de Permiso CRE:</ion-label>
          <ion-input type="text" (ionChange)="BuscarPermiso($event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Razon Social:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label (click)="showPiker()">Clasificación</ion-label>
        <ion-label color="primary" >{{clasificacion}}</ion-label>
        </ion-item>
        <br>
        <ion-button expand="block" color="medium">
          Buscar
        </ion-button>
        <ion-button (click)="portal()">
          portal interactivo
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let permiso of permisos | date: textoBuscar"  
               size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card >
          <ion-item color="warning">
            <ion-label>{{permiso.address}}</ion-label>
          </ion-item>
          <ion-card-header>
            <ion-card-subtitle>{{permiso.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
