.imginfo{
    height: 400px;
    width: auto;
}
.texto1{
    text-align: justify;
    width: 100px;
    float: none;
}
.fondo{
    background-color: #F3F3F3;
}
.linea1{
    background-color: #D2D2D2;
    height: 3px;
}
.linea2{
    background-color: #D2D2D2;
    height: 1px;
}
.texto2{
    color: #78B3D1;
}