<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>{{hoy}}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" sizeMd="7" size="9">
      <ion-card>
        <ion-card-content>
          <ion-card-title>Servicio a Clientes</ion-card-title>
          <br>
          <p>
            Empresa conformada el 12 de Junio del 2017 por empresarios mexicanos
            que cuentan con amplia experiencia en materia financiera,
            comercialización de petrolíferos y de coordinación operativa logística,
            que en conjunto se integra una fuerte estructura para garantizar
            proyectos de gran magnitud.
            <br><br>
            Hidromex Turbosina se fundó con el objetivo de aprovechar
            las oportunidades que surgen de la transición del mercado de combustibles
            hacia el sector privado, la comercialización de combustibles y proveer
            servicios auxiliares para respaldar actividades comerciales.
            <br><br>
            Los fundadores de Hidromex Turbosina anticiparon que la apertura del
            mercado de energía en México eventualmente conduciría a una
            transformación de las estructuras de comercialización y distribución de
            hidrocarburos en México.
          </p>
          <div>
            <hr class="linea2">
          </div>
          <ion-item-divider>
            <img src="../../../assets/servicios.png" alt="" class="imginfo">
          </ion-item-divider>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="5" sizeLg="3">
      <ion-card class="fondo">
        <ion-card-content>
          <ion-card-title>Opciones a Consultar</ion-card-title>
          <div>
            <hr class="linea1">
          </div>
          <hr>
          <ul class="texto2">
            <li>Registro de autotanques</li>
            <li>Información de embarques programados</li>
            <li>Reporte de control de volumen</li>
            <li>Facturación electrónica</li>
            <li>Cuestionario de calidad en el servicio</li>
            <li>Programa de Entrega interactivo</li>
          </ul>
          <br><br><br><br>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>