<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Especificaciones de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card color="secondary" (click)="gasAvion()">
          <ion-card-header>
            <ion-card-subtitle>GASAVION</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Seccion I Datos Generales</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion II Datos Generales del Producto</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion III Identificación de Componentes</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion IV Propiedades Físico-Químicas</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion V Riesgos de Fuego y Explocion </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion VI Riesgos de Reactividad</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion VII Riesgos a la Salud</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion VIII Indicaciones en Caso de Fuga o Derrame</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion IX Proteccion Personal</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion X Información sobre Transportación</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion XI Información sobre Ecología</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion XII Información sobre Manejo y Almacenamiento</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card color="secondary" (click)="turbocina()">
          <ion-card-header>
            <ion-card-subtitle>TURBOCINA</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Seccion I Datos Generales</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion II Datos Generales del Producto</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion III Identificacion de Componentes</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion IV Propiedades Físico-Químicas</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion v Riesgos de Fuego Y Explocion</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion VI Riesgos de Reactividad</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion VII Riesgos a la Salud y primeros Auxilios</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion VIII Indicaciones en Caso de Fuga o Derrame</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion IX Proteccion Especial en Situaciones de Emergencia</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion X informacion Sobre Transportación</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion XI Informacion sobre Ecologia</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion XII Informacion sobre Manejo y Almacenamiento </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Seccion XIII Informacion Adicional </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
